[submodule "extern/pffft"]
	path = extern/pffft
	url = https://bitbucket.org/jpommier/pffft.git
[submodule "extern/libsndfile"]
	path = extern/libsndfile
	url = https://github.com/libsndfile/libsndfile
